footer {
    background: returnMap($colors, color6);
}

.footer-links {
    padding: 30px 0;
    border-bottom: 1px solid returnMap($colors, color2);
    display: flex;
    > * {
        border-right: 1px solid returnMap($colors, color2);
        flex-basis: 20%;
        &:nth-child(even) {
            flex-basis: 30%;
        }
        &:last-child {
            border-right: none;
        }
    }
}

.footer-logos {
    padding-right: 5%;
    > span {
        margin: 10px 0 15px 0;
        display: block;
        color: returnMap($colors, color5);
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}

.nav-footer {
    &__list {
        padding: 0 20%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    &__item {
        flex-basis: 50%;
    }
    &__link {
        color: returnMap($colors, color1);
        font-size: 12px;
        text-transform: capitalize;
        transition: color 1s ease-in-out;
        &:hover {
            color: returnMap($colors, color7);
        }
        &.selected {
            color: returnMap($colors, color7);
        }
    }
}

.follow-us {
    > h4 {
        padding: 0 25%;
        margin-bottom: 15px;
        color: returnMap($colors, color5);
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.follow-us-links {
    padding: 0 25%;
    &__item {
        margin-bottom: 10px;
    }
    &__link {
        display: inline-flex;
        color: returnMap($colors, color1);
        font-size: 12px;
        text-transform: capitalize;
        align-items: center;
        transition: color 1s ease-in-out;
        &:hover {
            color: returnMap($colors, color7);
        }
        &[title="Facebook"]::before {
            content: "\f39e";
        }
        &[title="YouTube"]::before {
            content: "\f167";
        }
        &[title="Twitter"]::before {
            content: "\f099";
        }
    }
}

.contact-us {
    > * {
        margin: 0 15%;
    }
    @extend .follow-us;
    > h4 {
        padding: 0;
    }
    > p {
        margin-bottom: 15px;
        color: returnMap($colors, color1);
        font-size: 12px;
        line-height: 20px;
    }
}

.contact-us-links {
    &__link {
        display: inline-flex;
        color: returnMap($colors, color1);
        font-size: 12px;
        align-items: center;
        transition: color 1s ease-in-out;
        &:hover {
            color: returnMap($colors, color7);
        }
        &[title="Email"]::before {
            content: "\f0e0";
            font-family: "Font Awesome 5 Free";
        }
    }
}

.copyright-info {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    > span {
        color: returnMap($colors, color1);
        font-size: 10px;
        font-weight: bold;
        > a {
            transition: color 1s ease-in-out;
            &:hover {
                color: returnMap($colors, color7);
            }
        }
    }
}

.copyright-links {
    display: flex;
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: returnMap($colors, color1);
        font-size: 10px;
        font-weight: bold;
        text-transform: capitalize;
        transition: color 1s ease-in-out;
        &:hover {
            color: returnMap($colors, color7);
        }
    }
}