.health-reflection-tool {
    position: relative;
    > figure {
        > img {
            max-width: unset;
            width: 100%;
            max-height: unset;
            height: 100%;
        }
    }
    .common-style {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        > h2 {
            color: returnMap($colors, color3);
        }
        > p {
            color: returnMap($colors, color3);
        }
    }
}