.take-care-films {
    margin: 90px 0 100px 0;
    @include mobile {
        margin: 75px 5.33%;
    }
    > .button-container {
        text-align: center;
    }
}

.take-care-videos {
    max-width: 960px;
    width: 50%;
    min-width: 650px;
    margin: 35px auto 10px auto;
    @include mobile {
        width: 100%;
        min-width: unset;
    }
    &__item {
        margin-bottom: 40px;
        display: flex;
        @include mobile {
            flex-direction: column;
        }
        &:last-child {
            margin-bottom: 0;
        }
        > * {
            flex: 1;
            @include mobile {
                flex: unset;
            }
        }
    }
    figure {
        > img {
            max-height: unset;
            height: 100%;
            object-fit: fill;
            @include mobile {
                max-width: unset;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    div {
        display: flex;
        background: returnMap($colors, color6);
        flex-direction: column;
        > h3 {
            margin: 35px 5% 25px 5%;
            color: returnMap($colors, color5);
            font-size: 32px;
            font-weight: bold;
            @include mobile {
                margin: 15px 3% 15px 3%;
                font-size: 26px;
            }
        }
        > p {
            margin: 0 5% 35px 5%;
            color: returnMap($colors, color1);
            font-size: 16px;
            line-height: 26px;
        }
        q {
            quotes: auto;
            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
        }
    }
}