.title-quote {
    padding: 40px 0;
    background: returnMap($colors, color4);
    color: returnMap($colors, color3);
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    @include mobile {
        padding: 30px 0;
        font-size: 30px;
    }
}