* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

figure > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  color: unset;
  text-decoration: none;
}

.header-footer-wrapper {
  max-width: 1460px;
  width: 76.17%;
  margin: 0 auto;
}

.common-style-wrapper {
  max-width: 729px;
  width: 37.98%;
  min-width: 450px;
  margin: 0 auto;
}

.common-style > h2 {
  margin-bottom: 15px;
  color: #3d3e42;
  font-size: 46px;
  font-weight: bold;
}

.common-style > p {
  color: #6d6f8f;
  font-size: 16px;
  line-height: 26px;
}

.common-button {
  padding: 15px 35px;
  border-radius: 50px;
  display: inline-block;
  background: #3badf2;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

.common-button:hover {
  background: #5d058d;
}

.circle-social-icon {
  display: block;
}

.circle-social-icon::before {
  width: 24px;
  height: 24px;
  border: 1px solid #ae9da3;
  border-radius: 50%;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6d6f8f;
  font-family: "Font Awesome 5 Brands";
  font-size: 14px;
  font-weight: 900;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-footer-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-footer-wrapper > h1 {
  -ms-flex-preferred-size: 17.28%;
      flex-basis: 17.28%;
}

header .header-footer-wrapper > .hamburger-mobile {
  display: none;
}

header h1 img {
  max-width: 200px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__item {
  margin-right: 6.05%;
}

.page__item:last-child {
  margin-right: 0;
}

.page__item.selected__link {
  color: #3badf2;
}

.page__link {
  display: inline-block;
  color: #6d6f8f;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.page__link:hover {
  color: #3badf2;
}

.header-social {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-social__item:last-child__link {
  margin-right: 0;
}

.header-social__link {
  font-size: 0;
}

.header-social__link[title="Facebook"]::before {
  content: "\f39e";
}

.header-social__link[title="YouTube"]::before {
  content: "\f167";
}

.header-social__link[title="Twitter"]::before {
  content: "\f099";
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.languages__item::after {
  content: "/";
  margin: 0 5px;
  color: #ae9da3;
  font-size: 12px;
}

.languages__item:last-child::after {
  content: "";
  margin: 0;
}

.languages__button {
  display: inline-block;
  color: #ae9da3;
  font-size: 14px;
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  text-transform: capitalize;
}

.languages__button:hover {
  color: #6d6f8f;
  cursor: pointer;
}

.languages__button.selected {
  color: #6d6f8f;
}

.title-quote {
  padding: 40px 0;
  background: #5d058d;
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.carousel-container {
  position: relative;
}

.carousel {
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

.carousel > li {
  display: inline-block;
  position: relative;
}

.carousel > li > div {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: normal;
}

.carousel div > blockquote {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 48px;
}

.carousel div > span {
  display: block;
  font-size: 24px;
  text-align: center;
}

.carousel-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.carousel-dots__item {
  margin-right: 15px;
}

.carousel-dots__item:last-child {
  margin-right: 0;
}

.carousel-dots__button {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  font-size: 0;
  -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

.carousel-dots__button:hover {
  background: #fff;
  cursor: pointer;
}

.carousel-dots__button.selected {
  background: #fff;
}

.take-care-films {
  margin: 90px 0 100px 0;
}

.take-care-films > .button-container {
  text-align: center;
}

.take-care-videos {
  max-width: 960px;
  width: 50%;
  margin: 35px auto 40px auto;
}

.take-care-videos__item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.take-care-videos__item:last-child {
  margin-bottom: 0;
}

.take-care-videos__item > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.take-care-videos figure > img {
  max-height: unset;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.take-care-videos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e8e8e8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.take-care-videos div > h3 {
  margin: 35px 5% 25px 5%;
  color: #3d3e42;
  font-size: 32px;
  font-weight: bold;
}

.take-care-videos div > p {
  margin: 0 5% 35px 5%;
  color: #6d6f8f;
  font-size: 16px;
  line-height: 26px;
}

.take-care-videos div q {
  quotes: auto;
}

.take-care-videos div q::before {
  content: open-quote;
}

.take-care-videos div q::after {
  content: close-quote;
}
/*# sourceMappingURL=take-care.css.map */